body {
    font-family: $police-oxygen;
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
    padding-bottom: 200px;
  }
  
  h3 {
    margin-block-start: 1em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  p {
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  